.container{
    font-family: 'Times New Roman', Times, serif;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    border: 5px;
    border-color:rgb(104, 53, 29);
    border-style: solid;
    padding: 10px;
}
h1 {
    color:rgb(104, 53, 29);
}
h2{
    color:rgb(104, 53, 29);
}
img{
    float: right;
    width: 250px;
    height: 250px;
}
.menu{
    width: 170px;
    float: left;
   
}
#color{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
#people{
     background-color:blanchedalmond;
     border: 1.5px;
     border-style: solid;
     padding: 2px;
}
