#container{ font-family:'Times New Roman', Times, serif;
    text-decoration: saddlebrown;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 5px saddlebrown solid;
    padding: auto;
}
.header{
padding-left: 7px;
}
body{
    background-color: burlywood;
}
.menu{ 
    margin-left: 7px;
     background-color:beige;
    width: 170px;
    float: left;
}
img{
    float: right;
    width: 200px;
}
ul{
    margin: 0px;
    padding:  0px;
    list-style: none;
}
li{
    border: 3px sienna solid;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.main{
    margin-left: 190px;
}
main p{
     margin-left: 190px;
}
.footer{
    background-color: navajowhite;
    margin-top: 20px;
    clear: both;
    margin: 0px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
